

.fa-4x {
    text-align: center;
}

.prod_install .container{
    max-width: 75%;
}

.portfolio_strict .portfolio_item figure {
    background-size: contain;
}

.logo_title {
    font-family: Raleway;
    color: @gray-dark;
    text-shadow: none;
}

.portfolio_strict .portfolio_item figure svg path {
    fill-opacity: 0.7;
}

.service_teaser.inverted .service_details {
    padding: 0 40px;
}

.pricing_plan .the_price {
    font-size: 35px;
}

.service_teaser .service_details li {
    font-weight: 300;
}

/* #subscription-section */
//.newsletter-form-content { text-align: center !important; }
//.newsletter-form-content h2 { color: #ffffff; padding-bottom: 0; margin-top:15px; margin-bottom: 0; font-size: 2.2em; font-weight: bold; }
//.newsletter-form-content h4 { color: #ffffff; padding-bottom: 0; font-size: 1.5em; }
//.form-subscribe { width: 60%; margin: 0 auto; padding-top: 20px; }
//.form-group { margin-bottom: 15px;}

#subscription-section {
  border-bottom: solid 1px #000;
  padding: 5rem;    
}

//.btn-custom-1 {
//  background-color: rgba(255,255,255,0);
//  border: 1px solid rgba(255,255,255,0.5);
//}

//.form-control {
//  height: 37px;
//  -moz-border-radius: 4px;
//  -webkit-border-radius: 4px;
//  border-radius: 4px !important;
//  border: 1px solid rgba(207,207,207,0.5);
//  box-shadow: none !important;
//  }

// #mc_embed_signup  { 
//    clear:left;
//    text-align: left;
//    color: white;
//
//  }

/* #subscription-section */
